<li id="comment_<%= comment.id %>">
    <% if !comment.new_record? %>
    <span class="author"><%= link_to comment.user.username, comment.user %></span>
    <span class="delete_button">
        <% if comment.user == current_user%>
            <%=  button_tag "Delete", data: {id: comment.id , post_id: comment.post.id}%>
        <% end %>
    </span>

    <span class="avatar"><%= image_tag(comment.user.get_avatar_url(:thumb)) %></span>
    <span class="content"><%= comment.content %></span>


    <% end %>
</li>