<div class="user user_<%= user.id %>">
    <div class="user_item">
        <% if !user.new_record? %>
            <span class="avatar"><%= image_tag(user.get_avatar_url(:thumb))   %></span>
            <%= link_to user.username, user_path(user) %>
            <% if is_post %>
                <div class="view_post"><%= link_to "View Post", post %></div>
                <div class="timestamp"><%= print_time_diff(post.created_at) %></div>
            <% end %>
            <div id= "friend_status">
                <% if current_user.friend?(user)%>
                    (Friend)
                <% end %>
            </div>
        <% end %>
    </div>    
    <% if !is_post %>
        <div id="friend_request">
            
            <div id= "friend_form">
                <% if current_user != user%>
                    <span> <%= render partial: 'friend', locals: {user: user} %></span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

