<% if !post.new_record? %>
<li id="post_<%= post.id %>" class="item"">
    <div><%= render partial: post.user, locals: {is_post: true, post: post} %></div>
    <span class="content"><%= post.content %></span>
    <section class="likes">
        <%= render partial: 'posts/like_stats', locals: {post: post} %>
    </section>
    <section class="buttons">
        <% if !post.liked_users.include?(current_user)%>
            <%= button_tag "Like", class: "like_button", data: {id: post.id} %><!--
    --><% else%>
            <%= button_tag "Like", class: "like_button liked", data: {id: post.id} %><!--
    --><% end %><!--
    --><% if !single %><!--
            --><%= button_tag 'View comments', class: "comment_button", data: {id: post.id, comments: post.comments.any?} %>
            <div class="comments_section">
                <div class="add_comment_button"></div>
                <div class="comment_form"></div>
                <div class="comments"></div>
            </div>
        <% end%>
    </section>



</li>
<% end %>