<div class="row">
    <section class="col-md-9">
        <% if @posts.any?%>
            <ol class="posts">
                <%= render partial: @posts, locals: {single: false} %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
    </section>
    <aside class="col-md-3 item">
        <%= render partial: current_user, locals: {is_post: false} %>
        <section>
            <%= form_with model: @post_new, url: posts_path, local: true do |f| %>
                <%= render 'shared/error', object: f.object %>
                <div class="field">
                    <%= f.text_area :content, placeholder: "Compose new post..." %>
                 </div>
                <p>
                    <%= f.submit "Save post" %>
                </p>
            <% end %>
        </section>
    </aside>
</div>

<script>
    window.current_user_id = <%= current_user.id %>;
</script>