<%= render partial: @post, locals: {single: true} %>
<% if current_user == @post.user %>
    <span><%= link_to "Delete", post_path(@post), method: :delete %></span>
<% end %>
<span> 
    <%= render partial: 'comments/comment_form', locals: {post: @post} %>
</span>
<h2>Comment Section:</h2>
<% if @comments.any?%>
    <ol class="comments">
        <%= render @comments %>
    </ol>
    
    <%= will_paginate @comments %>
<% end %>