<header class="navbar navbar-fixed-top navbar-right">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Timeline", posts_path %></li>
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li id="user_header"><%= render 'layouts/user_header' %></li>
                
                <li class="notification"><%= render 'layouts/notification' %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

            </ul>
        </nav>

    </div>
</header>